{% extends 'base/base_password_reset.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2 class="title">Redefinir senha</h2>
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                <div class="alert alert-message">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger">
                {% for field in form %}
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        <div class="mb-3">

            <div class="mb-3">
                <label for="nova_senha">Nova senha:</label>
                {{ form.nova_senha }}
            </div>

            <div class="mb-3">
                <label for="confirmar_senha">Confirmar nova senha:</label>
                {{ form.confirmar_senha }}
            </div>

        </div>
        <button type="submit" class="btn">Redefinir senha</button>
    </form> 
</div>
{% endblock %}
