{% extends 'base/base_password_reset.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Redefinir senha</h2>
    <p>Insira o endereço de e-mail associado à sua conta e enviaremos um link para redefinir sua senha.</p>
    <form method="post" action="">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.email }}
            {% if form.email.errors %}
                <div class="alert alert-danger">
                    {{ form.email.errors }}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="btn">Enviar link de redefinição</button>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li class="{{message.tags}}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}
