{% extends 'feed_base.html' %}
{% load static %}
{% load cloudinary %}

{% block content %}
<div class="profile-user">
    <section class="profile-info" alt="Biografia do usuario">
        {% if user.is_authenticated %}
        {% if user == perfil_user %}
        <!--capa do perfil -->
        <div class="capa-perfil">
            {% if user.capa %}
                {% cloudinary user.capa crop='thumb' quality='auto' fetch_format='auto' %}
            {% else %}
                <div class="default-capa"></div>
            {% endif %}
        </div>

        <!-- Imagem de perfil -->
        <div class="foto-de-perfil">
            {% if user.avatar %}
                {% cloudinary user.avatar crop="thumb" gravity="face" radius="max" quality='auto' fetch_format='auto' %}
            {% else %}
                <img src="{% static 'img/default-avatar.svg' %}" alt="Foto do perfil">
            {% endif %}
        </div>

        <!-- botão editar perfil -->
        <div class="edit-perfil">
            <a href="{% url 'edit_profile' %}">Editar Perfil</a>
        </div>

        <!--Nome do usario-->
        <div class="username-perfil">
            <p>{{ user.username }}</p>
        </div>

        <!--Bio do usario-->
        <div class="bio">
            <p>{{ user.bio }}</p>
        </div>

        <!-- Contador de seguidores e seguindo -->
        <div class="follows">
            <span><strong>{{ num_seguindo }}</strong> seguindo</span>
            <span><strong>{{ num_seguidores }}</strong> seguidores</span>
        </div>

        <!--------------------------------------------------------------------------------------------------->
        {% elif perfil_user %}

        <!--capa do perfil -->
        <div class="capa-perfil">
            {% if perfil_user.capa %}
                {% cloudinary perfil_user.capa crop='thumb' quality='auto' fetch_format='auto' %}
            {% else %}
                <div class="default-capa"></div>
            {% endif %}
        </div>

        <!-- Imagem de perfil -->
        <div class="foto-de-perfil">
            {% if perfil_user.avatar %}
                {% cloudinary perfil_user.avatar crop="thumb" gravity="face" radius="max" quality='auto' fetch_format='auto'%}
            {% else %}
                <img class="foto" src="{% static 'img/default-avatar.svg' %}" alt="Foto do perfil">
            {% endif %}
        </div>

        <!-- botão editar perfil -->
        <div class="seguir-usuario">
            {% if is_following %}
            <form method="POST" action="{% url 'deixar_de_seguir' perfil_user.pk %}">
                {% csrf_token %}
                <button class="btn-seguindo" data-text="Seguindo" data-text-hover="Deixar de Seguir"
                    type="submit"></button>
            </form>
            {% else %}
            <form method="POST" action="{% url 'seguir_usuario' perfil_user.pk %}">
                {% csrf_token %}
                <button class="btn-seguir" type="submit">Seguir</button>
            </form>
            {% endif %}
        </div>

        <!--Nome do usario-->
        <div class="username-perfil">
            <p>{{ perfil_user.username }}</p>
        </div>

        <!--Bio do usario-->
        <div class="bio">
            <p>{{ perfil_user.bio }}</p>
        </div>

        <!-- Contador de seguidores e seguindo -->
        <div class="follows">
            <span><strong>{{ num_seguindo }}</strong> seguindo</span>
            <span><strong>{{ num_seguidores }}</strong> seguidores</span>
        </div>
        {% endif %}
        {% endif %}
    </section>

    <section class="profile-posts" alt="Postagens do usuario">


    </section>
</div>
{% endblock %}