*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
body{
    height: 100vh;
    background-color: #010027;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    background-color: rgba(0, 0, 30, 0.8);
    width: 95%;
    max-width: 350px;
    min-height: clamp(550px, 55%, 600px);
    border-radius: 15px;
    box-shadow: 0 0px 300px 15px rgba(98, 22, 250, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

/* ================================= PAGINA DE LOGIN =================================== */

.icon-login{
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-login img{
    width: 100px;
}

.login-title{
    font-family: "Pixelify Sans", sans-serif;
}

.alert{
    border: 1px solid transparent;
    border-radius: 0.25rem;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.alert-error{
    color: #b10213;
}

.alert-success{
    color: #00ad26;
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 5px;
}

.mb-3{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.mb-3 input{
    width: 95%;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
    border: none;
    background-color: #070132;
    color: white;
    font-size: 16px;
}

.mb-3 input:focus{
    outline: none;
    border: 1px solid #5d2dfa;
}

.recuperar-senha  a{
    color: #5d2dfa;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    outline: none;
}

.btn{
    width: 101.5%;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-color: #3600e6;
    color: white;
    font-size: 18px;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 400;
    cursor: pointer;
}

.register-link{
    margin-top: 30px;
    font-size: 15px;
}

.register-link a{
    color: #5d2dfa;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    outline: none;
}

/* ================================= PAGINA DE REGISTRO =================================== */
.cadastro-title{
    font-size: 30px;
    font-family: "Pixelify Sans", sans-serif;
    color: white;
}
.message-container{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    height: 20px;
    margin-bottom: 13px;
    z-index: 100;

}

.alert-message{
    color: red;
    z-index: 10;
    font-size: 14px;
    text-align: center;
}

.form-register-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 10px; 
}

.mb-2{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.mb-2 label{
    position: relative;
    left: 0%;
    font-size: 18px;
    color: grey;
}

.mb-2 input{
    width: 18.2rem;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #070132;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding-left: 10px;
}

.mb-2 input:focus{
    outline: none;

    border: 1px solid #5d2dfa;
}

.btn-cad{
    width: 18.7rem;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #3600e6;
    color: white;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.login-link{
    margin-top: 15px;
}

.login-link a{
    color: #5d2dfa;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-left: 5px;
}