* {
    margin: 0;
    padding: 0;
}
body {

    background-color: black;
    width: 100%;
    height: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.container-menu{
    position:fixed;
    width: 350px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shadow-card{
    display: flex;
    border-radius: 15px;
    background-image: radial-gradient(
        circle at 50% 30%,
        rgba(150, 70, 255, 0.3),
        rgba(150, 70, 255, 0) 100%);
    margin-top: 20px;
    width: 90%;
    height: 130px;
}

.usuario{
    color: #fff;
    box-shadow: 0px 0px 30px 0px rgba(150, 70, 255, 0.4);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(150, 70, 255, 0.4);
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.usuario-info{
    display: flex;
    align-items: center;
    margin-right: 43%;
    gap: 10px;
}

.avatar{
    width: 61px;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
.avatar img{
    width: 65px;
    height: 65px;
    display: flex;
}
.username{
    color: #fff;
    font-size: 18px;
    display: flex;
}

.username p{
    margin: 0;
    padding: 0;
}

.info-follow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-right: 25%;
    gap: 20px;
}

.menu-principal{
    display: flex;
    width: 90%;
    height: 59%;
    margin-top: 35px;
}

.menu-principal ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    height: 97%;
    gap: 10px;
}
.menu-principal ul li{
    list-style: none;
}

.menu-principal ul li a{
    display: flex;
    align-items: center;
    font-size: larger;
    font-weight: 500;
    border-radius: 15px;
    width: 100%;
    height: 50px;
    color: #9CA3AF;
    text-decoration-line: none;
}

.icon{
    margin-left: 13px;
}


.menu-principal ul li a span{
    margin-left: 5px;
}

.menu-link:hover{
    background-color: rgb(138, 141, 146, 0.1);
    color: white;
}

.menu-link.ativo{
    background: linear-gradient(50deg, rgba(138, 48, 255, 0.521), rgba(150, 70, 255, 1));
    box-shadow: 5px 5px 10px 0px rgba(150, 70, 255, 0.4);
    backdrop-filter: blur(5px);
    color: #fff;
}

.menu-sair{
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 90%;
    height: 50px;
    text-decoration-line: none;
}

.menu-sair a{
    color: #9CA3AF;
    display: flex;
    align-items: center;
    font-size: larger;
    text-decoration: none;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.menu-sair a:hover{
    background-color: rgb(233, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

.icon-sair{
    margin-left: 13px;
}

.icon-sair:hover{
    color: rgb(233, 0, 0);
}

.menu-sair a span{
    margin-left: 13px;
}

.menu-sair a:hover{
    color: rgb(233, 0, 0);
}

@keyframes luz {
    0% {
        /* Posição inicial (totalmente à esquerda) */
        background-position-x: 20%;
    }
    50% {
        /* Posição no meio (totalmente à direita) */
        background-position-x: 80%;
    }

    100% {
        /* Volta para a esquerda */
        background-position-x: 20%;
    }
}

.luz-fundo {
  /* 1. Posiciona o fundo atrás de todo o conteúdo */
    position: fixed;
    width: 100vw;  /* 100% da largura da tela */
    height: 100vh; /* 100% da altura da tela */
    z-index: -1;   /* Coloca atrás de todo o resto */
    
    /* 2. Sua imagem de fundo (o gradiente) */
    background-image: radial-gradient(
        circle 550px at 50% 45%,
        rgb(123, 24, 253, 0.7),
        rgba(150, 70, 255, 0) 65% /* Aumentei o 60% para a luz ficar mais suave */
    );
    filter: blur(10px);
    /* 3. Prepara a animação */
    background-repeat: no-repeat;

    /* Faz o "palco" do gradiente ser 2x mais largo, 
        para que ele possa "andar" de um lado para o outro */
    background-size: 60% 100%;
    /* 4. Aplica a animação */
    /* Nome: luz | Duração: 10s | Ritmo: ease-in-out | Repetição: infinita */
    animation: luz 2.5s ease-in-out infinite;
}