*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que padding e border não aumentem a largura final */
}
body{
    height: 100vh;
    background-color: #010027;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem; /* Adiciona um respiro nas laterais do corpo */
}

.container{
    width: 100%;
    max-width: 450px; /* Controla a largura máxima em telas grandes */
    min-height: clamp(200px, 40%, 400px);
    padding: 2rem; /* Adiciona espaçamento interno */
    border-radius: 15px;
    box-shadow: 0 0px 300px 15px rgba(98, 22, 250, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.container h2{
    font-family: "Pixelify Sans", sans-serif;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.container p{
    width: 100%; /* Usa 100% da largura do container */
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

li{
    list-style-type: none;
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-top: 13px;
    text-align: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mb-3 {
    width: 100%;
    margin-bottom: 1rem;
}

.mb-3 input{
    width: 100%; /* Usa 100% da largura do elemento pai (.mb-3) */
    height: 40px;
    border-radius: 15px;
    border: none;
    background-color: #0b0538;
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding-left: 10px;
}

.mb-3 input:focus{
    outline: none;
    border: 1px solid #5d2dfa;
}

.btn{
    width: 100%; /* Usa 100% da largura do elemento pai (form) */
    height: 2.7rem;
    margin-top: 10px;
    background-color: #3600e6;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}