.profile-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 52.4%;
    margin-left: 350px;
    box-sizing: border-box;
}

.profile-info{
    position: relative;
    display: flex;
    margin-top: 20px;
    border-radius: 20px;
    align-self: center;
    flex-direction: column;
    border: 1px solid rgba(150, 70, 255, 0.2);
    box-shadow: 0px 0px 30px 0px rgba(150, 70, 255, 0.2);
    width: 89.3%;
    height: 550px;
    backdrop-filter: blur(100px);
}

.capa-perfil{
    position: absolute;
    display: flex;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 220px;
    z-index: -1;
}

.default-capa{
    background-color: #888888;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.capa-perfil img{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.foto-de-perfil{
    display: flex;
    margin-top: 149px;
    margin-left: 27px;
    border-radius: 50%;
    width: 140px;
    height: 140px;
}

.foto-de-perfil img{
    border-radius: 50%;
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.edit-perfil{
    display: flex;
    position: absolute;
    margin-left: 35.3rem;
    margin-top: 14rem;
    background: linear-gradient(50deg, rgba(138, 48, 255, 0.521), rgba(150, 70, 255, 1));
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 7rem;
    height: 3rem;
}
.edit-perfil a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-decoration: none;
}

.seguir-usuario{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 14rem;
    margin-left: 35.3rem;
    width: 7rem;
    height: 3rem;
}

.btn-seguir{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(50deg, rgba(138, 48, 255, 0.521), rgba(150, 70, 255, 1));
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 600;
    width: 7rem;
    height: 3rem;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

.btn-seguindo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: linear-gradient(50deg, rgba(138, 48, 255, 0.521), rgba(150, 70, 255, 1));
    border: none;
    font-size: 15px;
    font-weight: 600;
    width: 7rem;
    height: 3rem;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}



.btn-seguindo::before{
    content: attr(data-text);
}

.btn-seguindo:hover{
    background: rgb(233, 0, 0, 0.4);
    color: rgb(224, 0, 0);
    width: 9rem;
}

.btn-seguindo:hover::before{
    content: attr(data-text-hover);
}

.username-perfil{
    display: flex;
    margin-left: 27px;
    font-size: 18px;
}
.username-perfil p{
    color: #fff;
    font-size: 28px;
}

.bio{
    margin-left: 27px;
    margin-top: 5px;
    font-size: 20px ;
    width: 92.5%;
    height: 7.6rem;
}

.bio p{
    color: #fff;
    overflow-wrap: break-word;
}

.follows{
    display: flex;
    margin-left: 27px;
    margin-top: 20px;
    font-size: 20px ;
    gap:25px;
}
.follows span{
    font-weight: 600;
    color: #888888;
}

.follows strong{
    color: #fff;
}

.profile-posts{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 20px;
    border-radius: 20px;
    width: 89.3%;
    height: 400px;
    background-color: aliceblue;
}