<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/feed_base.css' %}">
</head>

<body>
    <div class="container-menu">
        <div class="shadow-card">
            <div class="usuario">
                {% if user.is_authenticated %}
                    <div class="usuario-info">
                        <div class="avatar">
                            <img src="{% static 'img/login_icon.png' %}" alt="">
                        </div>  
                        <div class="username">
                            <p>{{ user.username }}</p>
                        </div>
                    </div>
                    <div class="info-follow">
                        <span><strong style="color: #6613ff;">{{ seguindo }}</strong> Seguindo</span>
                        <span><strong style="color: #6613ff;">{{ seguidores }}</strong> Seguidores</span>
                    </div>
                {% endif %}
            </div>
        </div>

        <nav class="menu-principal">
            <ul>
                <li class="">
                    <a class="{% if request.resolver_match.url_name == 'home' %}ativo{% endif %} " href="{% url 'home' %}"><i class="icon-home"></i> 
                        <span>Início</span>
                    </a>
                </li>
                <li>
                    <a class="{% if request.resolver_match.url_name == 'explorar' %}ativo{% endif %} " href="#"> <i class="icon-explorar"></i>
                        <span>Explorar</span>
                    </a>
                </li>
                <li>
                    <a class="{% if request.resolver_match.url_name == 'notificacoes' %}ativo{% endif %} " href="#"> <i class="icon-notificacoes"></i>
                        <span>Notificações</span>
                    </a>
                </li>
                <li>
                    <a class="{% if request.resolver_match.url_name == 'mensagens' %}ativo{% endif %} " href="#"> <i class="icon-mensagens"></i>
                        <span>Mensagens</span>
                    </a>
                </li>
                <li>
                    <a class="{% if request.resolver_match.url_name == 'perfil' %}ativo{% endif %} " href="{% url 'perfil' user.username %}"><i class="icon-perfil"></i>
                        <span>Perfil</span>
                    </a>
                </li>
                <li>
                    <a class="{% if request.resolver_match.url_name == 'estatisticas' %}ativo{% endif %} " href="#"> <i class="icon-estatisticas"></i>
                        <span>Estatísticas</span>
                    </a>
                </li>
                <li>
                    <a class="{% if request.resolver_match.url_name == 'config' %}ativo{% endif %} " href="#"> <i class="icon-config"></i>
                        <span>Configurações</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="menu-sair">
            <a href="{% url 'logout' %}"><i class="icon-sair"></i>
                <span>Sair</span>
            </a>
        </div>
    </div>

    {% block content %}
    {% endblock %}
</body>
</html>